/* Variables */
:root {
  --color-green: hsl(158, 36%, 37%);
  --color-dark-green: hsl(158, 42%, 18%);
  --color-black: hsl(212, 21%, 14%);
  --color-grey: hsl(228, 12%, 48%);
  --color-cream: hsl(30, 38%, 92%);
  --color-white: hsl(0, 0%, 100%);
}
/* Base Styles */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Fraunces";
}

p {
  line-height: 1.5;
}

/* Container */
.container {
  background: var(--color-cream);
  min-height: 100vh;
  padding-inline: 1rem;
  padding-block-start: 5rem;
  padding-block-end: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 900px){
  .container {
    align-items: center;
  }
}

/* Card */
.card {
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  height: fit-content;
}

/* .card__header {
  border: 2px solid tomato;
} */

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__body {
  /* border: 1px solid dodgerblue; */
  background-color: var(--color-white);
  padding: 2.6rem;
}

.card__product-category {
  text-transform: uppercase;
  letter-spacing: 3.8px;
  margin-bottom: 2.3rem;
  color: var(--color-grey);
  font-weight: 500;
}

.card__product-name {
  font-size: 2.9rem;
  line-height: 1.1;
  margin-bottom: 2.3rem;
}

.card__product-description {
  margin-bottom: 2.3rem;
  color: var(--color-grey);
}

.card__price-tag {
  display: inline-flex;
  align-items: center;
  gap: 1.4rem;
  margin-bottom: 2.3rem;
}

.card__price-tag .current-price {
  color: var(--color-green);
  font-weight: 700;
  font-size: 3rem;
  font-family: "Fraunces";
}

.card__price-tag .former-price {
  color: var(--color-grey);
  text-decoration: line-through;
}

@media screen and (min-width: 900px) {
  .card {
    max-width: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* max-width: 600px; */
  }
}

/* Buttons */
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1.4rem;
  font-size: 1.4rem;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.btn--primary {
  background-color: var(--color-green);
  color: white;
  font-family: Montserrat;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
}

.btn--primary:hover {
  background-color: var(--color-dark-green);
}

.btn--block {
  width: 100%;
}

.btn__cart-icon {
  margin-right: 8px;
}

/* Utilities */
.attribution { font-size: 11px; text-align: center; margin-top: 1rem;}
.attribution a { color: hsl(228, 45%, 44%); }