/* Variables */
:root {
  --color-green: hsl(158, 36%, 37%);
  --color-dark-green: hsl(158, 42%, 18%);
  --color-black: hsl(212, 21%, 14%);
  --color-grey: hsl(228, 12%, 48%);
  --color-cream: hsl(30, 38%, 92%);
  --color-hite: hsl(0, 0%, 100%);
}
/* Base Styles */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

/* Container */
.container {
  border: 1px solid magenta;
  background: var(--color-cream);
  min-height: 100vh;
  padding-inline: 1rem;
  padding-block-start: 5rem;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 700px){
  .container {
    align-items: center;
  }
}

/* Card */
.card {
  background-color: dodgerblue;
  max-width: 400px;
  height: fit-content;
}