<div class="card">
  <div class="card__header">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos omnis tempore
    vitae fugiat labore earum, neque cupiditate molestiae sint? Quae optio quo
    harum cupiditate excepturi aperiam recusandae, odit reprehenderit dolor. In,
    reprehenderit quo, nobis eius autem placeat alias itaque cupiditate quis
    veniam maiores sit nisi dolor laborum ad? Obcaecati, et!
  </div>
  <div class="card__body">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti numquam
    reprehenderit alias sint commodi quam aperiam sapiente corrupti accusamus
    temporibus, officia corporis doloremque quas sequi, iusto voluptatem, earum
    et perspiciatis totam ipsam soluta libero distinctio itaque? Tempora dolorem
    possimus cum corrupti esse consectetur, voluptatem optio culpa rerum minus,
    accusantium similique.
  </div>
</div>
